<h2>Certificates</h2>
<% if current_user.is_admin %>
	<a href="/certificates/new"><button>Create new certificate</button></a><hr>
<% end %>
<% @certificates.each do |cert| %>
	<a href="/certificates/<%=cert.id%>"><h4><%=cert.name%></a>
		<% if logged_in? %>
			<% if !current_user.certificates.include?(cert) %>
				<a href="/certificates/<%=cert.id%>/apply"><button>Apply for certificate</button></a>
			<% end %></h4>
		<% end %>
<% end %>