<h2>Certificates</h2>
<a href="/certificates/new"><button>Create new certificate</button></a><hr>
<% @certificates.each do |cert| %>
	<a href="/certificates/<%=cert.id%>"><h4><%=cert.name%></h4></a>
<% end %>