<!doctype html>
<html>
  <head>
    <title>NWA Creative Hub</title>
  </head>
  <body>
  	<header><h2>NWA Creative Hub</h2></header>
    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
