<h2>Sign up!</h2>
<form action="/signup" method="post">
	<input style="font-size: 0.85rem; margin-bottom: 0.5em;" type="text" name="first_name" required placeholder="First name"><br>
	<input style="font-size: 0.85rem; margin-bottom: 0.5em;" type="text" name="last_name" required placeholder="Last name"><br>
	<input style="font-size: 0.85rem; margin-bottom: 0.5em;" type="text" name="email" required placeholder="Email address"><br>
	<input style="font-size: 0.85rem; margin-bottom: 0.5em;" type="password" name="password" required placeholder="Password"><br>
	<input style="font-size: 0.85rem; margin-bottom: 0.5em;" type="tel" name="phone_number" required placeholder="Phone number"><br>
	<textarea style="font-size: 0.85rem; margin-bottom: 1em;" name="bio" cols="80" rows="20" placeholder="Tell us about yourself..."></textarea><br>
	<input style="font-size: 1rem;" type="submit" value="Sign up!">
</form>
<%# Added some styling because I'm a nerd and I think it's fun! %>