<h2>Sign up!</h2>
<form action="/signup" method="post">
	<input type="text" name="first_name" required placeholder="First name"><br>
	<input type="text" name="last_name" required placeholder="Last name"><br>
	<input type="text" name="email" required placeholder="Email address"><br>
	<input type="password" name="password" required><br>
	<input type="tel" name="phone_number" required placeholder="Phone number"><br>
	<textarea name="bio" cols="40" rows="40" placeholder="Tell us about yourself..."></textarea><br>
	<input type="submit" value="Sign up!">
</form>