<h2>Tests</h2>
<a href="/tests/new"><button>Create new test</button></a><hr>
<% @tests.each do |test| %>
	<a href="/tests/<%=test.id%>"><%=test.name%></a><br>
	Applies to certificates:
	<ul>
		<% test.certificates.each do |cert| %>
			<li><a href="/certificates/<%=cert.id%>"><%=cert.name%></a></li>
		<% end %>
	</ul> <hr>
<% end %>
