<h2>Create new test</h2><hr>
<form action="/tests" method="post">
	<h3>Test name:</h3>
	<input type="text" name="test[name]"><hr>
	<h3><%="Choose the certificate that this test applies to:<br>" if @certificates.length > 0%></h3>
	<% @certificates.each do |certificate| %>
		<input type="checkbox" name=test[certificate_ids][] value="<%=certificate.id%>">
			<%=certificate.name%>
		</input>
	<% end %>
	<h3>Enter the name of a new certificate:</h3>
	<input type="text" id="text_question" name="certificate[name]" placeholder="Certificate name: "><hr>
	<h3>Enter the text for question 1:</h3>
	<input type="text" id="test_question" name="questions[][text]" placeholder="Question 1:">
	<ul id="text_answers">
		<input type="text" name="questions[][answers][][text]" placeholder="Answer1:">
		<input type="checkbox" name="questions[][answers][][is_correct]" value="true"><br>
		<input type="text" name="questions[][answers][][text]" placeholder="Answer2:">
		<input type="checkbox" name="questions[][answers][][is_correct]" value="true"><br>
		<input type="text" name="questions[][answers][][text]" placeholder="Answer3:">
		<input type="checkbox" name="questions[][answers][][is_correct]" value="true"><br>
		<input type="text" name="questions[][answers][][text]" placeholder="Answer4:">
		<input type="checkbox" name="questions[][answers][][is_correct]" value="true"><br>
	</ul><hr>
	<h3>Enter the text for question 2:</h3>
	<input type="text" id="test_question" name="questions[][text]" placeholder="Question 2:">
	<ul id="text_answers">
		<input type="text" name="questions[][answers][][text]" placeholder="Answer1:">
		<input type="checkbox" name="questions[][answers][][is_correct]" value="true"><br>
		<input type="text" name="questions[][answers][][text]" placeholder="Answer2:">
		<input type="checkbox" name="questions[][answers][][is_correct]" value="true"><br>
		<input type="text" name="questions[][answers][][text]" placeholder="Answer3:">
		<input type="checkbox" name="questions[][answers][][is_correct]" value="true"><br>
		<input type="text" name="questions[][answers][][text]" placeholder="Answer4:">
		<input type="checkbox" name="questions[][answers][][is_correct]" value="true"><br>
	</ul><hr>
	<h3>Enter the text for question 3:</h3>
	<input type="text" id="test_question" name="questions[][text]" placeholder="Question 2:">
	<ul id="text_answers">
		<input type="text" name="questions[][answers][][text]" placeholder="Answer1:">
		<input type="checkbox" name="questions[][answers][][is_correct]" value="true"><br>
		<input type="text" name="questions[][answers][][text]" placeholder="Answer2:">
		<input type="checkbox" name="questions[][answers][][is_correct]" value="true"><br>
		<input type="text" name="questions[][answers][][text]" placeholder="Answer3:">
		<input type="checkbox" name="questions[][answers][][is_correct]" value="true"><br>
		<input type="text" name="questions[][answers][][text]" placeholder="Answer4:">
		<input type="checkbox" name="questions[][answers][][is_correct]" value="true"><br>
	</ul><hr>
	<h3>Enter the text for question 4:</h3>
	<input type="text" id="test_question" name="questions[][text]" placeholder="Question 2:">
	<ul id="text_answers">
		<input type="text" name="questions[][answers][][text]" placeholder="Answer1:">
		<input type="checkbox" name="questions[][answers][][is_correct]" value="true"><br>
		<input type="text" name="questions[][answers][][text]" placeholder="Answer2:">
		<input type="checkbox" name="questions[][answers][][is_correct]" value="true"><br>
		<input type="text" name="questions[][answers][][text]" placeholder="Answer3:">
		<input type="checkbox" name="questions[][answers][][is_correct]" value="true"><br>
		<input type="text" name="questions[][answers][][text]" placeholder="Answer4:">
		<input type="checkbox" name="questions[][answers][][is_correct]" value="true"><br>
	</ul><hr>
	<h3>Enter the text for question 5:</h3>
	<input type="text" id="test_question" name="questions[][text]" placeholder="Question 2:">
	<ul id="text_answers">
		<input type="text" name="questions[][answers][][text]" placeholder="Answer1:">
		<input type="checkbox" name="questions[][answers][][is_correct]" value="true"><br>
		<input type="text" name="questions[][answers][][text]" placeholder="Answer2:">
		<input type="checkbox" name="questions[][answers][][is_correct]" value="true"><br>
		<input type="text" name="questions[][answers][][text]" placeholder="Answer3:">
		<input type="checkbox" name="questions[][answers][][is_correct]" value="true"><br>
		<input type="text" name="questions[][answers][][text]" placeholder="Answer4:">
		<input type="checkbox" name="questions[][answers][][is_correct]" value="true"><br>
	</ul><hr>
	<input type="submit" value="Create test">
</form>